body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #282c34;
  color: #abb2bf;
}

.editor-container {
  display: flex;
  justify-content: center;
  background-color: #21252b;
  padding: 10px;
}

.tab {
  cursor: pointer;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #61dafb;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #282c34;
  color: #61dafb;
}

.tab:hover {
  background-color: #61dafb;
  color: #282c34;
}

.editor-container .tab.active {
  background-color: #61dafb;
  color: #282c34;
}

#editor {
  width: 50%;
  height: 70vh;
  overflow: auto;
  padding: 10px;
  margin: 0 auto;
}

#output {
  width: 50%;
  height: 70vh;
  overflow: auto;
  padding: 10px;
  margin: 0 auto;
  background-color: #1e1e1e;
  color: #abb2bf;
}

.hidden {
  display: none;
}

.run-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #45a9f0;
}

button:active {
  background-color: #2182d3;
}
